@import "../../../public/styles/partials/config";

.headerMain,
.scrolled {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 99;
  transition: all 0.3s;

  .headerFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0.8rem 0;
  }

  nav {
    @include tablet {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: color(primary-pink);
      left: -100%;
      top: 0;
      z-index: 9;
      transition: all 0.5s;
    }

    &.showNav{
      left: 0;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;

      @include tablet {
        flex-wrap: wrap;
      }

      li {
        list-style-type: none;
        margin-right: 0.5rem;
        position: relative;

        @include tablet {
          width: 100%;
        }

        &:hover {
          a {
            .arrow {
              border-color: color(accent);
              transform: rotate(-135deg);
              position: relative;
              top: 0.063rem;

              @include mobile {
                transform: rotate(-45deg);
                border-color: color(foreground);
              }
            }
          }

          .submenu {
            display: block;
            transition: all 0.5s;
          }
        }

        .submenu {
          position: absolute;
          top: 3.5rem;
          left: 50%;
          transform: translate(-50%);
          width: 100%;
          min-width: 10rem;
          flex-wrap: wrap;
          background-color: color(primary-white);
          border-radius: 0.3rem;
          padding: 0.3rem 0;
          display: none;
          transition: all 0.3s;
          a {
            display: block;
            width: 100%;
            color: color(primary-black);
            padding: 0.3rem 1rem;
            &:hover {
              background-color: rgba(color(primary-black), 0.05);
            }
          }
        }
      }
      a {
        color: color(primary-white);
        font-size: text(xs);
        padding: 1.3rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;

        @include tablet {
          justify-content: flex-start;
        }
        .arrow {
          box-sizing: border-box;
          height: 0.4rem;
          width: 0.4rem;
          border-style: solid;
          border-color: white;
          border-width: 0rem 0.177rem 0.177rem 0rem;
          transform: rotate(45deg);
          transition: border-width 150ms ease-in-out;
          margin-left: 0.5rem;
          transition: all 0.5s;

          @include mobile {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }

  .activeHumburger {
    button {
      span {
        background: 0;
        &::before {
          top: 0;
          transform: rotate(45deg);
        }
        &::after {
          bottom: 0;
          transform: rotate(-45deg);
        }
      }
    }
  }

  .navHamburger {
    display: none;

    @include tablet {
      display: inline-block;
      position: relative;
      overflow: hidden;
      margin: 0;
      padding: 0;
      width: 1.5625rem;
      height: 2.8125rem;
      font-size: 0;
      text-indent: -9999px;
      appearance: none;
      box-shadow: none;
      border-radius: none;
      cursor: pointer;
      background: 0;
      margin-left: 0;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 99;

      span {
        display: block;
        position: absolute;
        top: 1.4375rem;
        left: 0;
        right: 0;
        height: 0.125rem;
        background: #fff;

        &::before,
        &::after {
          position: absolute;
          display: block;
          left: 0;
          width: 100%;
          height: 0.125rem;
          background-color: #fff;
          content: "";
          transition-delay: 0.3s, 0;
        }

        &::before {
          top: -0.5rem;
          transition-property: top;
          transition: 0.3s all;
        }
        &::after {
          bottom: -0.5rem;
          transition-property: bottom;
          transition: 0.3s all;
        }
      }
    }
  }
}

.scrolled {
  background-color: color(primary-blue);
}
