@import "../../public/styles/partials/config";

.primaryCard {
  width: 100%;
  text-align: center;
  padding: 0 3rem;

  .cardImg{
    img{
      margin: auto;
    }
  }

  .cardIcon {
    border-radius: 0.3rem;
    width: 100%;
    max-width: 5.5rem;
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: color(primary-white);
    margin: auto;
    margin-bottom: 1rem;
  }

  .cardTitle{
    margin: 0.5rem 0;
    font-weight: 600;
    font-size: text(lg);
  }

  p{
    margin: 0;
    font-size: text(normal);
  }
}
