@import "./partials/config";
@import "./partials/variables";
@import "./partials/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: text(normal);
}

html,
body {
  font-size: text(normal);
  font-family: font(primary);
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove default link styles */
a {
  text-decoration: none;
}

/* Remove default table styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove default image styles */
img {
  display: block;
}

/* Remove default button and input styles */
button,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: font(secondary);
}

.title-heading {
  font-size: text(xl);
  font-weight: 600;
}

.sb-heading {
  font-size: text(lg);
  font-weight: 400;
  font-family: font(secondary);
}

.icon-primary {
  background-color: color(primary-blue);
}

.icon-secondry {
  background-color: color(primary-pink);
}

.icon-third {
  background-color: color(light-blue);
}

.tabDefault {
  .react-tabs__tab--selected {
    &::before {
      width: 100%;
      background-color: color(primary-pink);
    }
  }
}

.breadcrumb {
  .breadcrumb-item {
    position: relative;
    padding-right: 1rem;

    &:first-child{
      &::before{
        display: none;
      }
    }
    &::before {
      box-sizing: border-box;
      height: 0.4rem;
      width: 0.4rem;
      border-style: solid;
      border-color: color(primary-white);
      border-width: 0rem 0.144rem 0.144rem 0rem;
      position: absolute;
      left: 0;
      transform: rotate(315deg);
      color: transparent;
      content: "";
      top: 0.5rem;
      left: -0.5rem;
      padding-right: 0;
    }
  }
}


.page-notfound{
  background: linear-gradient(
    85deg,
    rgba(color(primary-blue), 0.8) 30%,
    rgba(color(primary-pink), 0.9) 100%
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: color(primary-white);
  flex-wrap: wrap;
  text-align: center;

  h1{
    width: 100%;
  }

  img{
    margin: auto;
    margin-bottom: 1rem;
  }

  a{
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    background-color: color(primary-white);
    color: color(primary-black);
    text-decoration: none;
    font-weight: 600;
    margin-top: 0.5rem;
    transition: all 0.5s;

    &:hover{
      background-color: color(primary-pink);
      color: color(primary-white);
    }
  }
}